.news-body{
    border:1px solid lightgrey;
    border-radius:5px;
    padding:20px;
    margin-left:-10px;
    
}

.comments-icon{
    width:20px;
    height:20px;
}

.movie-name{
 font-weight:bold;
}

.related-news-bar{
    border:1px solid lightgrey;
    border-radius:5px;
    padding:20px;
    margin-left:-10px;
    margin-bottom:20px;

}
.related-movies-bar{
    border:1px solid lightgrey;
    border-radius:5px;
    padding:20px;
    margin-left:-10px;

}

.news-title{
    margin-top:20px;
}

.news-pic{
   margin:15px 0px 15px 0px;
}

.news-info{
    font-size:15px;
}

.news-share-icon{
    width:25px;
    height:25px;
}

.related-img{
    width: 200px;
    height:120px;
}

.related-news li{
    margin-top:30px;
}

.movie-img{
    width:200px;
    height:300px;
}

.movie-score-icon{
    width:25px;
    height:25px;
}

.comments{
    margin-top:30px;
}
.user-icon{
    width:30px;
    height:30px;
}

.comments-info{
    font-size:15px;
}

.comments-icon{
    width:15px;
    height:15px;
}



.pagination .page-item.active .page-link {
    background-color: #f34a5b; 
    border:#f34a5b}
    .pagination.page-item.active .page-link:hover {
        background-color: #f34a5b; 
    border:#f34a5b }
    .pagination .page-item .page-link {
        color:black; 
    }
.pagination{
    margin:0px 40% 0 30%;
}

textarea{
    border-radius:5px;
}


